<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBu1oBqhlcppAsPyi16UXi_0AfbEFKRUTE</string>
	<key>GCM_SENDER_ID</key>
	<string>113161264553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Hyperlink.Development</string>
	<key>PROJECT_ID</key>
	<string>bagzag-28e01</string>
	<key>STORAGE_BUCKET</key>
	<string>bagzag-28e01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113161264553:ios:46905a0243e8d032c4f8b8</string>
</dict>
</plist>